.dashboardContainer {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 0 2rem;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.101);
}
.avtar {
  height: 2rem;
  width: 2rem;
  overflow: hidden;
  border-radius: 50%;
}
.avtar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.profileTitle,
.redirectLinkTree {
  font-size: small;
  font-weight: 300;
}
.porfileCta {
  display: flex;
  align-items: center;
}
.profileInfo {
  height: auto;
  width: max-content;
  background-color: var(--tertiary);
  margin: auto;
  padding: 8px 5px;
  border-radius: 10px;
}
.profileTitle {
  color: var(--primary);
}
.profileInfoContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.logout {
  margin: 0 1rem;
  cursor: pointer;
}
.hamburgerMenu{
  display: none;
}
@media screen and (max-width: 768px) {
  .dashboardContainer {
    padding: 0 1rem;
  }
  .avtar {
    height: 1.5rem;
    width: 1.5rem;
  }
  .hamburgerMenu{
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 999;
  }
  
  .containerLeft{
    width: 100%;
    position: absolute;
    top: 10;
    left: 0;
    padding:  70px 10px 15px 10px ;
    display: flex;
    flex-direction: column;
    background: var(--primary);
    border-radius: 0 0 20px 20px  ;
    transition: top 0.5s ease-in-out;
    z-index: 1;
  }
  .cta{
    width: 100%;
    margin: 0  0  10px 0 ;
  }
  .containerRight {
    margin-left: auto;
  }
  .profileTitle,
  .redirectLinkTree {
    font-size: x-small;
  }
  .profileInfo {
    padding: 5px 3px;
  }
  .logout {
    margin: 0 0.5rem;
  }
}