.analyticsCard {
  height: 13rem;
  width: 20rem;
  background-color: var(--primary);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.analyticsCardTitle,
.analyticsCardStats {
  color: var(--white);
}
.analyticsCardInner {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
