.analyticsCard {
width: 20rem;
height: 10rem;
  background-color: var(--tertiary);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.analyticsCardTitle,
.analyticsCardStats {
  color: var(--primary);
}
.analyticsCardInner {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

@media (max-width: 768px) {
  .analyticsCard {
    width: 80vw;
    height: 10rem;
  }

}