.themeContainer {
  width: 100vw;
  padding-left: 50px;
  padding-top: 50px;
}
.color {
  height: 100px;
  width: 100px;
  border: 0.2px solid rgba(255, 255, 255, 0.19);
}
.colorPallet {
  display: flex;
  gap: 10px;
}
.applyCta {
  margin-top: 10px;
  border-radius: 5px;
}
